<div class="main-container">
	<div class="inner-container">
		<p class="welcome-message">Welcome to the weather forecast web application. Please login with your Github user to use the application and view the weather in your city.</p>
		<div class="controls-container">
			<button type="button" class="login-button" mat-stroked-button color="primary" (click)="login()" [disabled]="auth.isLoading$ | async">Login</button>
			<mat-spinner *ngIf="auth.isLoading$ | async" class="loading-spinner" diameter="25"></mat-spinner>
		</div>
	</div>
</div>
